.bar {
  	fill: steelblue;
	}
.axis--x path {
  	display: none;
}
.buttonex button {
          left: 220px;
          position: absolute;
          top: 320px;
          width: 80px;
          background: blue;
        }


.arc text {
	font: 12px sans-serif;
	text-anchor: middle;
}
